main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
  width: 100%;
}

:root {
  --primary: #
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1em;
  letter-spacing: .05em;
  background-color: #E5EBEA;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  display: block;
  align-items: center;
  background-color: #ED6A5A;
  color: #F7F7F2
}


header a {
  padding: 5px;
  margin-left: .5em;
  border-bottom: 1px solid #F7F7F2; 
}

header ul li {
  padding-left: 3rem;
}

header ul li span {
  cursor: pointer;
}

header ul li span:hover {
  color: #6A2E35;
}

.navActive {
  color: #6A2E35;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.no-style-list {
  list-style: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  header a {
    width: 100%;
    justify-content: center;
  }
}