main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
  width: 100%;
}

:root {
  --primary: #E5EBEA;
  --secondary: #ED6A5A;
  --tertiary: #6A2E35;
  --light:#F7F7F2;
  --dark: #0A100D;
  --error: rgb(49, 46, 45);
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1em;
  letter-spacing: .05em;
  background-color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  display: block;
  align-items: center;
  background-color: #ED6A5A;
  color: var(--light);
}


header a {
  padding: 5px;
  margin-left: .5em;
  border-bottom: 1px solid var(--light);
}

header ul {
  padding: 0px;
}

header ul li {
  margin-left: .7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header ul li span {
  cursor: pointer;
}

header ul li span:hover {
  color: var(--tertiary);
}

label {
  padding: 5px;
  font-size: 1.1rem;
  line-height: 2rem;
}

input {
  padding: 5px;
  border-radius: 10px;
  width: 500px;
  border: none;

  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08)
}

input:focus {
  outline: none;
}

button { 
  background-color: #721817  ;
  color: #E5EBEA;
  height: 2rem;
  width: 6rem;
  margin-top: .5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08)
}

button:hover {
  opacity: .8;
}

textarea {
  width: 500px;
  height: 150px;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  margin: 5px;
}

textarea:focus {
  outline: none;
}

input {
  margin: 5px;
  padding: .5rem;

}

.navActive {
  color: var(--tertiary);
  transition: all 250ms;
  font-size: 1.2rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


.aboutPicture {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.error-text {
  color: red;
  margin: 5px;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.no-style-list {
  list-style: none;
}

.justify-column {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}



@media screen and (max-width: 700px) {
  
  .flex-row-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  textarea {
    width: 95%;
  }
  input {
    width: 95%;
  }
}