@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@1,300&family=Yanone+Kaffeesatz:wght@300&display=swap');


main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
  width: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif
}

:root {
  --primary: #E5EBEA;
  --secondary: #ED6A5A;
  --tertiary: #6A2E35;
  --light:#F7F7F2;
  --dark: #0A100D;
  --error: rgb(49, 46, 45);
}

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1em;
  letter-spacing: .05em;
  background-color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  display: block;
  align-items: center;
  background-color: var(--secondary);
  color: var(--light);
  font-family: 'Cormorant Garamond', sans-serif
}

header h1 {
  border-bottom: 1px solid var(--light);
  margin-left: 10rem;
}


header ul {
  padding: 0px;
  margin-left: 10rem;
}

header ul li {
  margin-left: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: 600;
}

header ul li a {
  cursor: pointer;
}

header ul li a:hover {
  color: var(--tertiary);
}

label {
  padding: 5px;
  font-size: 1.1rem;
  line-height: 2rem;
}

p {
  padding: 10px;
  font-size: 1.5rem;
}

input {
  padding: 5px;
  border-radius: 10px;
  width: 500px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08)
}

input:focus {
  outline: none;
}

button { 
  background-color: #721817  ;
  color: #E5EBEA;
  height: 2rem;
  width: 6rem;
  margin-top: .5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: .8rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  margin-left: 5px
}

button:hover {
  opacity: .8;
}

textarea {
  width: 500px;
  height: 150px;
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  margin: 5px;
}

textarea:focus {
  outline: none;
}

input {
  margin: 5px;
  padding: .5rem;

}

footer ul li {
  display: inline-block;
  padding: 20px;
  margin: 0;
}

footer ul li img {
  height: 4rem;
}

footer ul li img:hover {
  opacity: .7;
}

.navActive {
  color: var(--dark);
  transition: all 250ms;
  font-size: 1.2rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.paper {
  background-color: var(--light);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 50px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.08);
  width: 50%;
}


.aboutPicture {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.footer {
  justify-content: center;
  bottom: 0;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

.aboutBar {
 border-bottom: 5px solid #505353;
 border-radius: 5px;
}

.error-text {
  color: red;
  margin: 5px;
}

.wrap {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.no-style-list {
  list-style: none;
}

.justify-column {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.project-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.image-container {
  position: relative;
  width: 35rem;
  margin-left: 15px;
  margin-bottom: 15rem;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.06);
  color: #0A100D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.image-overlay-blur {
  backdrop-filter: blur(5px);
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
   transform: translateY(0px);
}

.image-title {
  padding: 0, 5px;
  margin: 0, 5px;
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--dark);
}

.image-title:hover,
.ghIcon:hover {
  opacity: .6;
}

.ghIcon {
  padding: 10px;
}

.contact {
  width: 100%;
}



@media screen and (max-width: 1200px) {
  header h1 {
    border-bottom: 1px solid var(--light);
    margin-left: 0rem;
  }

  header ul {
    padding: 0px;
    margin-left: 6rem;
  }

  header ul li {
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  textarea {
    width: 95%;
  }
  input {
    width: 95%;
  }

  .flex-row-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    width: 90%;
    margin-bottom: 3rem;
  }

}

@media screen and (max-width: 768px) {
  header ul {
    padding: 0px;
    margin-left: 0rem;
  }

  button {
    width: 95%;
  }

  .image-container {
    margin-bottom: 5rem;
  }

}

@media screen and (max-width: 600px) {
  header ul li a {
    font-size: .7rem;
  }
  
  footer ul li img {
    height: 35px;
  }


  .aboutWrapper {
    width: 100%;
  }

  .navActive {
    font-size: 1rem;
  }
  
  .image-container {
    width: 100%;
  }
}